* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #0f9bdc;
    border-bottom: 1px solid #ccc;
    padding: 16px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .profile {
    display: flex;
    align-items: center;
    color: #fff;
}

header .profile img {
    max-width: 56px;
    width: 100%;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 8px;
    cursor: pointer;
}

h1 {
    color: #fff;
    font-size: 40px;
}

h4 {
    font-size: 12px;
}

section {
    padding-top: 96px;
    padding-bottom: 40px;
}

form {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    position: relative;
}

form textarea {
    outline: none;
    border: none;
    width: 100%;
    resize: none;
    margin-bottom: 24px;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
}

form button {
    background-color: #0f9bdc;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 8px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
}

.postagem {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

.postagem .profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.postagem .profile img {
    max-width: 28px;
    width: 100%;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 8px;
}

.postagem ul li {
    margin-bottom: 16px;
    background-color: #dfdfdf;
    border-radius: 8px;
    padding: 16px;
    position: relative;
}

.post {
    font-size: 16px;
    padding-top: 16px;
    line-height: 22px;
}

select {
    border: none;
}